/*****************************/
/********** General **********/
/*****************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-indent: 0;
}

.cf:before, .cf:after {
  display: table;
  content: ' ';
}

.cf:after {
  clear: both;
}

.container {
  margin-top: 50px;
}

header {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-width: 60%;
  -moz-column-width: 60%;
  column-width: 60%; }

#name {
  font-family: 'Open-Sans', sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-weight: 100;
  margin-top: .5em;
  display: block; }

#skills {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-weight: 100;
  display: block;
  margin: .3em 0 1em 0;
}

h1 {
  display: block;
  margin: 0 auto;
  text-align: center;
}

h2 {
  display: block;
  margin: 0 auto;
  text-align: center;
}

h3 {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.full-width {
  margin: 0 auto;
}

/*****************************/
/************ Nav ************/
/*****************************/

#nav {
  margin: 10px auto;
  float: none;
  text-align: center;
  clear: both;
}

#nav ul li {
  display: inline;
  margin: 0 auto;
  text-align: center;
  padding-right: 22px;
  font-weight: 500;
  font-size: 15px;
}

#nav a {
  text-decoration: none;

}

#nav a:hover {
  text-decoration: underline;
}

/*****************************/
/********** Project **********/
/*****************************/

.project-name {
  font-size: 1em;
}

.project-type {
  font-style: italic;
  display: block;
  padding-bottom: 20px;
}

.thumb-image:hover {
  opacity: .7;
}

.project-content {
  width: 300px;
  display: inline-block;
  border-top: 1px solid #898989;
  border-bottom: 1px solid #898989;
  font-family: 'Open-Sans', sans-serif;
  font-size: 12px;
  margin: 30px 60px 0 0;
  float: left;
}

.project-item {
  margin-bottom: 8px;
}

.project-image {
  width: 600px;
  display: inline;
  max-width: 100%;
  float: left;
}

#fork {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

/*****************************/
/*********** FOOTER **********/
/*****************************/

#footer {
  width: 950px;
  border-top: 1px solid #444444;
  padding-top: 15px;
  margin-top: 1113px;
  margin-bottom: 50px;
  font-size: 10px;
}

/*****************************/
/*********** SLICK ***********/
/*****************************/
.slick-slide {
  padding-top: 10px;
  width: !important 600px;
}
button.slick-prev:before {
  color: #444;
}

button.slick-next:before {
  color: #444;
}

.slick-list.draggable {
  height: 460px;
  width: 600px;
}
/*****************************/
/************ MFP ************/
/*****************************/

/* text-based popup styling */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  height: 520px;
  max-width: 1036px;
  margin: 20px auto;
}

/* This block of CSS adds opacity transition to background */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
  padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
  opacity: 0 !important;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
  padding: 0;
}

/* aligns caption to center */
.mfp-title {
  text-align: center;
  padding: 6px 0;
}
.image-source-link {
  color: #DDD;
}