/*****************************/
/********** GENERAL **********/
/*****************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-indent: 0;
}

.cf:before, .cf:after {
  display: table;
  content: ' ';
}

.cf:after {
  clear: both;
}

.container {
  margin-top: 50px !important;
}

h1, h2 {
  display: block;
  margin: 0 auto;
  text-align: center;
}

h3 {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 0;
}

/*****************************/
/********** COLUMNS **********/
/*****************************/

.one-third.column {
  margin-right: 3px !important;
}

.two-thirds.column {
  padding-left: 10px !important;
}

/************************/
/******* HEADER *********/
/************************/

header {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-width: 60%;
  -moz-column-width: 60%;
  column-width: 60%; }

#text-name {
  font-family: 'Lato', sans-serif;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-weight: 100;
  display: block;
  top: -109px;
  text-align: center;
  position: relative;
}

#text-skills {
  font-family: 'Josefin-Sans', sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-weight: 100;
  display: block;
  top: -87px;
  text-align: center;
  position: relative;
}

/* SVG ANIMATION */
.svg-wrapper {
  position: relative;
  margin: 0 auto;
  transform: translateY(0%);
  width: 320px;
  height: 130px;
}
.shape {
  stroke-dasharray: 165 608;
  stroke-dashoffset: -512;
  stroke-width: 1px;
  fill: transparent;
  stroke: #333;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.svg-wrapper:hover .shape {
  stroke-width: 1px;
  stroke-dashoffset: 0;
  stroke-dasharray: 200;
}

/* /SVG ANIMATION */

/************************/
/********CONTACT*********/
/************************/

.contact-header {
  border-bottom: 1px dotted #333;
  font-weight: 300;
  font-size: 20px;
  font-family: 'Josefin-Sans', sans-serif;
  letter-spacing: .5px;
  text-transform: uppercase;
  padding: 20px 0 4px 0;
}

.contact-icons {
  width: 23%;
  display: inline-block;
}


.contact-info {
  margin: 2% 0 0 0;
}

.contact-link {
  text-decoration: none;
}
/************************/
/******** ABOUT *********/
/************************/

.about-face {
  display: inline-block;
}

.about-info {
  display: inline;
}


.full-width {
  margin: 0 auto;
}

.about-header {
  border-bottom: 1px dotted #333;
  font-weight: 300;
  font-size: 20px;
  font-family: 'Josefin-Sans', sans-serif;
  letter-spacing: .5px;
  text-transform: uppercase;
  padding: 20px 0 4px 0;
  display: block;
}

.facts li {
  list-style-type: circle;
  margin: 0 0 7px 19px;
}
/*****************************/
/************ NAV ************/
/*****************************/

#nav {
  margin: 10px auto;
  float: none;
  text-align: center;
  clear: both;
}

#nav ul li {
  display: inline;
  margin: 0 auto;
  text-align: center;
  padding-right: 22px;
  font-weight: 500;
  font-size: 15px;
  font-family: 'Josefin-Sans', sans-serif;
  letter-spacing: .5px;
}

#nav a {
  text-decoration: none;
}

#nav a:hover {
  text-decoration: underline;
}

/*****************************/
/********** PROJECT **********/
/*****************************/

.project-name {
  font-size: 1em;
}

.project-type {
  font-style: italic;
  display: block;
  padding-bottom: 20px;
}

.thumb-image:hover {
  opacity: .7;
}

.project-content {
  width: 300px;
  display: inline-block;
  border-top: 1px solid #898989;
  border-bottom: 1px solid #898989;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  margin: 20px 0px 0px 20px;
  float: left;
}

.project-item {
  margin-bottom: 8px;
}

.project-image {
  width: 600px;
  display: inline;
  max-width: 100%;
  float: left;
}

#fork {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

/*****************************/
/*********** FOOTER **********/
/*****************************/

/*for sticky footer*/

.main-body {
  min-height: 100%;
  margin-bottom: -142px;
}
.main-body:after {
  content: "";
  display: block;
}
.site-footer, .main-body:after {
  height: 142px;
}
.site-footer {
  width: 15%;
  border-top: 1px solid #444444;
  padding-top: 15px;
  margin: 0 auto;
  font-size: 11px;
  text-align: center;
}

/*****************************/
/******* SLICK CAROUSEL ******/
/*****************************/
.slick-slide {
  padding-top: 10px;
  width: !important 600px;
}
button.slick-prev:before {
  color: #444;

}

button.slick-next:before {
  color: #444;

}

.slick-list.draggable {
  height: 460px;
  width: 600px;
  margin-left: 32px;
}

.slick-next {
  right: -76px !important;
}

.slick-prev {
  left: -12px !important;
}
/*****************************/
/********* MFP POPUP *********/
/*****************************/

.white-popup {
  position: inherit;
  background: #FFF;
  padding: 20px;
  width: auto;
  height: 520px;
  max-width: 1036px;
  margin: 20px auto;
}

/* This block of CSS adds opacity transition to background */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
  padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
  opacity: 0 !important;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
  padding: 0;
}

/* aligns caption to center */
.mfp-title {
  text-align: center;
  padding: 6px 0;
}
.image-source-link {
  color: #DDD;
}

/*balloon*/
/*body { margin:20px; ; text-align:center; }*/


.balloon:before {
  content:"";
  display:inline-block;
  position:absolute;
  bottom:-12px;
  left: 45px;
  z-index:-1;
}

.balloon:after {
 display:inline-block; top:152px;
  position:absolute;
  height:150px;
  left: 0px;
  width:2px;

}

