.container {
	margin-top: 50px;
}

/*///******** HEADER ******** ///*/

h1 {
	display: block;
	margin: 0 auto;
	text-align: center;
}

h2 {
	display: block;
	margin: 0 auto;
	text-align: center;
}

/*///******** NAV ******** ///*/

#nav {
	margin: 0 auto;
	float: none;
	text-align: center;
	clear: both;
}

#nav ul li {
	display: inline;
	margin: 0 auto;
	text-align: center;
}

#nav a {
	text-decoration: none;

}

#nav a:hover {
	text-decoration: underline;
}

/*///******** BODY ******** ///*/

.feature img {
	margin-bottom: 15px;
	max-width: 100%;
	height: auto;
}